In [1]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('operations').getOrCreate()
from pyspark.sql.functions import isnan, when, count, col

In [2]:
df = spark.read.csv('energydata_complete.csv',inferSchema=True, header=True)
df.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- Appliances: double (nullable = true)
 |-- lights: double (nullable = true)
 |-- T1: double (nullable = true)
 |-- RH_1: double (nullable = true)
 |-- T2: double (nullable = true)
 |-- RH_2: double (nullable = true)
 |-- T3: double (nullable = true)
 |-- RH_3: double (nullable = true)
 |-- T4: double (nullable = true)
 |-- RH_4: double (nullable = true)
 |-- T5: double (nullable = true)
 |-- RH_5: double (nullable = true)
 |-- T6: double (nullable = true)
 |-- RH_6: double (nullable = true)
 |-- T7: double (nullable = true)
 |-- RH_7: double (nullable = true)
 |-- T8: double (nullable = true)
 |-- RH_8: double (nullable = true)
 |-- T9: double (nullable = true)
 |-- RH_9: double (nullable = true)
 |-- T_out: double (nullable = true)
 |-- Press_mm_hg: double (nullable = true)
 |-- RH_out: double (nullable = true)
 |-- Windspeed: double (nullable = true)
 |-- Visibility: double (nullable = true)
 |-- Tdewpoint: double (nullable = true)
 |-- rv1: double (nullable = true)
 |-- rv2: double (nullable = true)

In [3]:
df.show(1)

+--------------------+----------+------+-----+----------------+----+-----+-----+-----+----+----------------+----------------+----+----------------+----------------+----+----------------+----+----+----------------+-----+-----+-----------+------+---------+----------+---------+------------------+------------------+
|                date|Appliances|lights|   T1|            RH_1|  T2| RH_2|   T3| RH_3|  T4|            RH_4|              T5|RH_5|              T6|            RH_6|  T7|            RH_7|  T8|RH_8|              T9| RH_9|T_out|Press_mm_hg|RH_out|Windspeed|Visibility|Tdewpoint|               rv1|               rv2|
+--------------------+----------+------+-----+----------------+----+-----+-----+-----+----+----------------+----------------+----+----------------+----------------+----+----------------+----+----+----------------+-----+-----+-----------+------+---------+----------+---------+------------------+------------------+
|2016-01-11 17:00:...|      60.0|  30.0|19.89|47.5966666666667|19.2|44.79|19.79|44.73|19.0|45.5666666666667|17.1666666666667|55.2|7.02666666666667|84.2566666666667|17.2|41.6266666666667|18.2|48.9|17.0333333333333|45.53|  6.6|      733.5|  92.0|      7.0|      63.0|      5.3|13.275433157104999|13.275433157104999|
+--------------------+----------+------+-----+----------------+----+-----+-----+-----+----+----------------+----------------+----+----------------+----------------+----+----------------+----+----+----------------+-----+-----+-----------+------+---------+----------+---------+------------------+------------------+
only showing top 1 row

In [4]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+--------------------+
|summary|        Appliances|            lights|                T1|              RH_1|                T2|             RH_2|                T3|             RH_3|                T4|             RH_4|                T5|             RH_5|               T6|              RH_6|                T7|             RH_7|                T8|              RH_8|                T9|              RH_9|             T_out|       Press_mm_hg|           RH_out|         Windspeed|       Visibility|         Tdewpoint|                 rv1|                 rv2|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+--------------------+
|  count|             19735|             19735|             19735|             19735|             19735|            19735|             19735|            19735|             19735|            19735|             19735|            19735|            19735|             19735|             19735|            19735|             19735|             19735|             19735|             19735|             19735|             19735|            19735|             19735|            19735|             19735|               19735|               19735|
|   mean|  97.6949581960983|3.8018748416518875|21.686571386748575|40.259739279784384|20.341219463849324|40.42042041370675|22.267610984880132|39.24250007720708|20.855334722410657|39.02690378814554| 19.59210632801864|50.94928262962212|7.910939332403554|54.609083387583084|20.267106470136902|35.38820021508418| 22.02910672298018| 42.93616537238887|19.485828160608985|41.552400753376595|7.4116645553585565| 755.5226019761848|79.75041803901698|4.0397517101596145|38.33083354446415|3.7607068659741527|  24.988033485049435|  24.988033485049435|
| stddev|102.52489053740616| 7.935987600215871|1.6060656448140267| 3.979298830435571|2.1929735335219647|4.069812540449677|2.0061105361434204|3.254576492620434|2.0428844769855043|4.341320653139022|1.8446232735005959|9.022034306523485|6.090346609884242| 31.14980587551157| 2.109993324051789|5.114208029896672|1.9561617218042135|5.2243606795975115| 2.014712386074535|   4.1514973238505| 5.317408805653679|7.3994406598535925|14.90108755752694|2.4512206057343047|11.79471875736811| 4.194647835033508|  14.496633860415896|  14.496633860415896|
|    min|              10.0|               0.0|             16.79|  27.0233333333333|              16.1| 20.4633333333333|              17.2| 28.7666666666667|              15.1|            27.66|             15.33|           29.815|           -6.065|               1.0|             15.39|             23.2|  16.3066666666667|              29.6|             14.89|  29.1666666666667|              -5.0|             729.3|             24.0|               0.0|              1.0|              -6.6|0.005321681965142...|0.005321681965142...|
|    max|            1080.0|              70.0|             26.26|             63.36|  29.8566666666667| 56.0266666666667|            29.236| 50.1633333333333|              26.2|            51.09|            25.795| 96.3216666666667|            28.29|              99.9|              26.0|             51.4|             27.23|             58.78|              24.5|  53.3266666666667|              26.1|             772.3|            100.0|              14.0|             66.0|              15.5|    49.9965296825394|    49.9965296825394|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+--------------------+

In [5]:
df.head(1)

[Row(date=datetime.datetime(2016, 1, 11, 17, 0), Appliances=60.0, lights=30.0, T1=19.89, RH_1=47.5966666666667, T2=19.2, RH_2=44.79, T3=19.79, RH_3=44.73, T4=19.0, RH_4=45.5666666666667, T5=17.1666666666667, RH_5=55.2, T6=7.02666666666667, RH_6=84.2566666666667, T7=17.2, RH_7=41.6266666666667, T8=18.2, RH_8=48.9, T9=17.0333333333333, RH_9=45.53, T_out=6.6, Press_mm_hg=733.5, RH_out=92.0, Windspeed=7.0, Visibility=63.0, Tdewpoint=5.3, rv1=13.275433157104999, rv2=13.275433157104999)]

In [6]:
row_number = df.count()
column_number = len(df.dtypes)

In [7]:
print((df.count(), len(df.columns)))

(19735, 29)

In [8]:
df.columns

['date',
 'Appliances',
 'lights',
 'T1',
 'RH_1',
 'T2',
 'RH_2',
 'T3',
 'RH_3',
 'T4',
 'RH_4',
 'T5',
 'RH_5',
 'T6',
 'RH_6',
 'T7',
 'RH_7',
 'T8',
 'RH_8',
 'T9',
 'RH_9',
 'T_out',
 'Press_mm_hg',
 'RH_out',
 'Windspeed',
 'Visibility',
 'Tdewpoint',
 'rv1',
 'rv2']

In [9]:
  df.select("date", "Appliances","lights","Windspeed","Visibility","Press_mm_hg","Tdewpoint").describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+
|summary|        Appliances|            lights|         Windspeed|       Visibility|       Press_mm_hg|         Tdewpoint|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+
|  count|             19735|             19735|             19735|            19735|             19735|             19735|
|   mean|  97.6949581960983|3.8018748416518875|4.0397517101596145|38.33083354446415| 755.5226019761848|3.7607068659741527|
| stddev|102.52489053740616| 7.935987600215871|2.4512206057343047|11.79471875736811|7.3994406598535925| 4.194647835033508|
|    min|              10.0|               0.0|               0.0|              1.0|             729.3|              -6.6|
|    max|            1080.0|              70.0|              14.0|             66.0|             772.3|              15.5|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+

In [10]:
 df.select("T1", "T2","T3","T4","T5","T6","T7","T8","T9","T_out").describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|summary|                T1|                T2|                T3|                T4|                T5|               T6|                T7|                T8|                T9|             T_out|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|  count|             19735|             19735|             19735|             19735|             19735|            19735|             19735|             19735|             19735|             19735|
|   mean|21.686571386748575|20.341219463849324|22.267610984880132|20.855334722410657| 19.59210632801864|7.910939332403554|20.267106470136902| 22.02910672298018|19.485828160608985|7.4116645553585565|
| stddev|1.6060656448140267|2.1929735335219647|2.0061105361434204|2.0428844769855043|1.8446232735005959|6.090346609884242| 2.109993324051789|1.9561617218042135| 2.014712386074535| 5.317408805653679|
|    min|             16.79|              16.1|              17.2|              15.1|             15.33|           -6.065|             15.39|  16.3066666666667|             14.89|              -5.0|
|    max|             26.26|  29.8566666666667|            29.236|              26.2|            25.795|            28.29|              26.0|             27.23|              24.5|              26.1|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+

In [11]:
 df.select("T1", "T2","T3","T4","T5","T6").describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|                T1|                T2|                T3|                T4|                T5|               T6|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|             19735|             19735|             19735|             19735|             19735|            19735|
|   mean|21.686571386748575|20.341219463849324|22.267610984880132|20.855334722410657| 19.59210632801864|7.910939332403554|
| stddev|1.6060656448140267|2.1929735335219647|2.0061105361434204|2.0428844769855043|1.8446232735005959|6.090346609884242|
|    min|             16.79|              16.1|              17.2|              15.1|             15.33|           -6.065|
|    max|             26.26|  29.8566666666667|            29.236|              26.2|            25.795|            28.29|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+

In [12]:
 df.select("T7","T8","T9","T_out").describe().show()

+-------+------------------+------------------+------------------+------------------+
|summary|                T7|                T8|                T9|             T_out|
+-------+------------------+------------------+------------------+------------------+
|  count|             19735|             19735|             19735|             19735|
|   mean|20.267106470136902| 22.02910672298018|19.485828160608985|7.4116645553585565|
| stddev| 2.109993324051789|1.9561617218042135| 2.014712386074535| 5.317408805653679|
|    min|             15.39|  16.3066666666667|             14.89|              -5.0|
|    max|              26.0|             27.23|              24.5|              26.1|
+-------+------------------+------------------+------------------+------------------+

In [13]:
 df.select("RH_1", "RH_2","RH_3","RH_4","RH_5","RH_6").describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+------------------+
|summary|              RH_1|             RH_2|             RH_3|             RH_4|             RH_5|              RH_6|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+------------------+
|  count|             19735|            19735|            19735|            19735|            19735|             19735|
|   mean|40.259739279784384|40.42042041370675|39.24250007720708|39.02690378814554|50.94928262962212|54.609083387583084|
| stddev| 3.979298830435571|4.069812540449677|3.254576492620434|4.341320653139022|9.022034306523485| 31.14980587551157|
|    min|  27.0233333333333| 20.4633333333333| 28.7666666666667|            27.66|           29.815|               1.0|
|    max|             63.36| 56.0266666666667| 50.1633333333333|            51.09| 96.3216666666667|              99.9|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+------------------+

In [14]:
 df.select("RH_7","RH_8","RH_9","RH_out").describe().show()

+-------+-----------------+------------------+------------------+-----------------+
|summary|             RH_7|              RH_8|              RH_9|           RH_out|
+-------+-----------------+------------------+------------------+-----------------+
|  count|            19735|             19735|             19735|            19735|
|   mean|35.38820021508418| 42.93616537238887|41.552400753376595|79.75041803901698|
| stddev|5.114208029896672|5.2243606795975115|   4.1514973238505|14.90108755752694|
|    min|             23.2|              29.6|  29.1666666666667|             24.0|
|    max|             51.4|             58.78|  53.3266666666667|            100.0|
+-------+-----------------+------------------+------------------+-----------------+

In [15]:
 df.select("rv1","rv2").describe().show()

+-------+--------------------+--------------------+
|summary|                 rv1|                 rv2|
+-------+--------------------+--------------------+
|  count|               19735|               19735|
|   mean|  24.988033485049435|  24.988033485049435|
| stddev|  14.496633860415896|  14.496633860415896|
|    min|0.005321681965142...|0.005321681965142...|
|    max|    49.9965296825394|    49.9965296825394|
+-------+--------------------+--------------------+

In [16]:
df1 = df.drop('rv1','rv2','date')

In [17]:
df1.columns

['Appliances',
 'lights',
 'T1',
 'RH_1',
 'T2',
 'RH_2',
 'T3',
 'RH_3',
 'T4',
 'RH_4',
 'T5',
 'RH_5',
 'T6',
 'RH_6',
 'T7',
 'RH_7',
 'T8',
 'RH_8',
 'T9',
 'RH_9',
 'T_out',
 'Press_mm_hg',
 'RH_out',
 'Windspeed',
 'Visibility',
 'Tdewpoint']

In [18]:
# First, we have to register the DataFrame as a SQL temporary view.
df.createOrReplaceTempView('df1')

# After that, we can use the SQL programming language for queries. 
results = spark.sql("SELECT * FROM df1")

In [19]:
from pyspark.sql.functions import col
df1.describe().filter(col("summary") == "count").show()

+-------+----------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+------+---------+----------+---------+
|summary|Appliances|lights|   T1| RH_1|   T2| RH_2|   T3| RH_3|   T4| RH_4|   T5| RH_5|   T6| RH_6|   T7| RH_7|   T8| RH_8|   T9| RH_9|T_out|Press_mm_hg|RH_out|Windspeed|Visibility|Tdewpoint|
+-------+----------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+------+---------+----------+---------+
|  count|     19735| 19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|19735|      19735| 19735|    19735|     19735|    19735|
+-------+----------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+------+---------+----------+---------+

In [20]:
#correlation 'target' 

from pyspark.ml.feature import VectorAssembler


features = df1.rdd.map(lambda row: row[0:])

from pyspark.mllib.stat import Statistics

corr_mat=Statistics.corr(features, method="pearson")

#corr_mat.show()

#from pyspark.mllib.stat import Statistics
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("check").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf)

#arr = np.array([[2,3], [2,8], [2,3],[4,5]])

#from pyspark import SparkContext
#sc = SparkContext().getOrCreate(conf=conf)

rdd1 = sc.parallelize(corr_mat)
rdd2 = rdd1.map(lambda x: [float(i) for i in x])
dftest= rdd2.toDF(["Target", "2",'3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25'])
dftest.select('Target').show(30)
print(len(dftest.columns))
#SparkContext

+--------------------+
|              Target|
+--------------------+
|                 1.0|
| 0.19727756020624476|
| 0.05544747185169637|
| 0.08603142531162396|
| 0.12007328289784344|
|-0.06046476002691181|
| 0.08505990236538934|
|  0.0362917211535374|
| 0.04028098301073038|
|0.016965431418945142|
|0.019759860588529344|
|0.006954536262407...|
| 0.11763768942239645|
|-0.08317760704201052|
| 0.02580104461954486|
|-0.05564241833638...|
|0.039571981095422364|
|-0.09403862707400816|
| 0.01001028464454249|
|-0.05146201134629927|
| 0.09915465073996763|
|-0.03488482907924371|
| -0.1522823809092063|
| 0.08712210591236885|
|2.303578554977464E-4|
|0.015353010487474785|
+--------------------+

26

In [29]:
from pyspark.sql.functions import col, floor, lit, concat
df = df.withColumn('Appliances',concat(lit('group'),(1+floor(col('Appliances')/3))))
df.show()

+--------------------+----------+------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+------------------+------------------+
|                date|Appliances|lights|              T1|            RH_1|              T2|            RH_2|              T3|            RH_3|              T4|            RH_4|              T5|            RH_5|              T6|            RH_6|              T7|            RH_7|              T8|            RH_8|              T9|            RH_9|           T_out|     Press_mm_hg|          RH_out|       Windspeed|      Visibility|       Tdewpoint|               rv1|               rv2|
+--------------------+----------+------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+------------------+------------------+
|2016-01-11 17:00:...|      null|  30.0|           19.89|47.5966666666667|            19.2|           44.79|           19.79|           44.73|            19.0|45.5666666666667|17.1666666666667|            55.2|7.02666666666667|84.2566666666667|            17.2|41.6266666666667|            18.2|            48.9|17.0333333333333|           45.53|             6.6|           733.5|            92.0|             7.0|            63.0|             5.3|13.275433157104999|13.275433157104999|
|2016-01-11 17:10:...|      null|  30.0|           19.89|46.6933333333333|            19.2|         44.7225|           19.79|           44.79|            19.0|         45.9925|17.1666666666667|            55.2|6.83333333333333|84.0633333333333|            17.2|           41.56|            18.2|48.8633333333333|17.0666666666667|           45.56|6.48333333333333|           733.6|            92.0|6.66666666666667|59.1666666666667|             5.2|18.606194981839508|18.606194981839508|
|2016-01-11 17:20:...|      null|  30.0|           19.89|            46.3|            19.2|44.6266666666667|           19.79|44.9333333333333|18.9266666666667|           45.89|17.1666666666667|           55.09|            6.56|83.1566666666667|            17.2|41.4333333333333|            18.2|           48.73|            17.0|            45.5|6.36666666666667|           733.7|            92.0|6.33333333333333|55.3333333333333|             5.1| 28.64266816759482| 28.64266816759482|
|2016-01-11 17:30:...|      null|  40.0|           19.89|46.0666666666667|            19.2|           44.59|           19.79|            45.0|           18.89|45.7233333333333|17.1666666666667|           55.09|6.43333333333333|83.4233333333333|17.1333333333333|           41.29|            18.1|           48.59|            17.0|            45.4|            6.25|           733.8|            92.0|             6.0|            51.5|             5.0| 45.41038949973881| 45.41038949973881|
|2016-01-11 17:40:...|      null|  40.0|           19.89|46.3333333333333|            19.2|           44.53|           19.79|            45.0|           18.89|           45.53|            17.2|           55.09|6.36666666666667|84.8933333333333|            17.2|           41.23|            18.1|           48.59|            17.0|            45.4|6.13333333333333|           733.9|            92.0|5.66666666666667|47.6666666666667|             4.9| 10.08409655187279| 10.08409655187279|
|2016-01-11 17:50:...|      null|  40.0|           19.89|46.0266666666667|            19.2|            44.5|           19.79|44.9333333333333|           18.89|           45.73|17.1333333333333|           55.03|             6.3|85.7666666666667|17.1333333333333|           41.26|            18.1|           48.59|            17.0|           45.29|6.01666666666667|           734.0|            92.0|5.33333333333333|43.8333333333333|             4.8| 44.91948424838483| 44.91948424838483|
|2016-01-11 18:00:...|      null|  50.0|           19.89|45.7666666666667|            19.2|            44.5|           19.79|            44.9|           18.89|           45.79|            17.1|54.9666666666667|6.26333333333333|           86.09|17.1333333333333|            41.2|            18.1|           48.59|            17.0|           45.29|             5.9|           734.1|            92.0|             5.0|            40.0|             4.7| 47.23376343026757| 47.23376343026757|
|2016-01-11 18:10:...|      null|  50.0|19.8566666666667|           45.56|            19.2|            44.5|           19.73|            44.9|           18.89|45.8633333333333|            17.1|            54.9|            6.19|86.4233333333333|            17.1|            41.2|            18.1|           48.59|            17.0|           45.29|5.91666666666667|734.166666666667|91.8333333333333|5.16666666666667|            40.0|4.68333333333333| 33.03988962434232| 33.03988962434232|
|2016-01-11 18:20:...|      null|  40.0|           19.79|         45.5975|            19.2|44.4333333333333|           19.73|           44.79|           18.89|           45.79|17.1666666666667|            55.0|6.12333333333333|87.2266666666667|17.1666666666667|            41.4|            18.1|           48.59|            17.0|           45.29|5.93333333333333|734.233333333333|91.6666666666667|5.33333333333333|            40.0|4.66666666666667|31.455702194944024|31.455702194944024|
|2016-01-11 18:30:...|      null|  40.0|19.8566666666667|           46.09|           19.23|            44.4|           19.79|44.8633333333333|           18.89|46.0966666666667|            17.1|            55.0|            6.19|87.6266666666667|            17.2|            41.5|            18.1|           48.59|            17.0|           45.29|            5.95|           734.3|            91.5|             5.5|            40.0|            4.65| 3.089313523378223| 3.089313523378223|
|2016-01-11 18:40:...|      null|  70.0|19.9266666666667|45.8633333333333|19.3566666666667|            44.4|           19.79|            44.9|           18.89|           46.43|            17.1|            55.0|            6.19|87.8666666666667|         17.2475|         42.7175|            18.1|           48.59|            17.0|           45.29|5.96666666666667|734.366666666667|91.3333333333333|5.66666666666667|            40.0|4.63333333333333|10.298728744965047|10.298728744965047|
|2016-01-11 18:50:...|      null|  60.0|20.0666666666667|46.3966666666667|19.4266666666667|            44.4|           19.79|44.8266666666667|            19.0|           46.43|            17.1|            55.0|6.12333333333333|87.9933333333333|           17.53|44.2633333333333|18.0666666666667|48.6333333333333|           16.89|           45.29|5.98333333333333|734.433333333333|91.1666666666667|5.83333333333333|            40.0|4.61666666666667| 8.827837626449764| 8.827837626449764|
|2016-01-11 19:00:...|      null|  50.0|20.1333333333333|            48.0|19.5666666666667|            44.4|           19.89|            44.9|            19.0|46.3633333333333|            17.1|           55.09|6.12333333333333|           88.59|17.8233333333333|45.4933333333333|18.0666666666667|           48.56|16.9633333333333|           45.29|             6.0|           734.5|            91.0|             6.0|            40.0|             4.6| 34.35114233288914| 34.35114233288914|
|2016-01-11 19:10:...|      null|  40.0|           20.26|52.7266666666667|           19.73|            45.1|           19.89|45.4933333333333|            19.0|47.2233333333333|            17.1|55.1633333333333|          6.0675|          88.215|17.9633333333333|           46.16|18.0333333333333|48.6666666666667|           16.89|45.3266666666667|             6.0|734.616666666667|            90.5|             6.0|            40.0|4.51666666666667| 19.20518591068685| 19.20518591068685|
|2016-01-11 19:20:...|      null|  10.0|20.4266666666667|55.8933333333333|19.8566666666667|45.8333333333333|20.0333333333333|47.5266666666667|            19.0|48.6966666666667|            17.1|            55.5|             5.9|88.1566666666667|17.9633333333333|45.5333333333333|            18.1|49.1933333333333|           16.89|          45.345|             6.0|734.733333333333|            90.0|             6.0|            40.0|4.43333333333333| 38.49207099992782| 38.49207099992782|
|2016-01-11 19:30:...|      null|  10.0|20.5666666666667|53.8933333333333|20.0333333333333|46.7566666666667|            20.1|48.4666666666667|            19.0|           48.49|           17.15|         56.0425|             5.8|88.3666666666667|           17.89|44.9266666666667|           18.15|            49.2|           16.89|45.3266666666667|             6.0|          734.85|            89.5|             6.0|            40.0|            4.35| 24.88496210426092| 24.88496210426092|
|2016-01-11 19:40:...|      null|  10.0|           20.73|           52.66|20.1666666666667|47.2233333333333|            20.2|           48.53|18.9266666666667|48.1566666666667|17.1666666666667|           56.49|5.72666666666667|           88.16|           17.76|44.2666666666667|           18.23|49.6333333333333|           16.89|           45.29|             6.0|734.966666666667|            89.0|             6.0|            40.0|4.26666666666667| 35.88092541322112| 35.88092541322112|
|2016-01-11 19:50:...|      null|  30.0|20.8566666666667|           53.66|            20.2|47.0566666666667|            20.2|         48.4475|           18.89|47.9633333333333|            17.2|56.9333333333333|5.52666666666667|            87.3|            17.7|43.7266666666667|18.3566666666667|50.0266666666667|           16.89|           45.29|             6.0|735.083333333333|            88.5|             6.0|            40.0|4.18333333333333| 49.59530474152416| 49.59530474152416|
|2016-01-11 20:00:...|      null|  30.0|           20.89|51.1933333333333|            20.2|           46.33|            20.2|48.1933333333333|18.9633333333333|           48.63|            17.2|           57.06|5.33333333333333|           86.76|17.6666666666667|           43.16|18.5333333333333|            50.2|           16.89|            45.2|             6.0|           735.2|            88.0|             6.0|            40.0|             4.1| 19.00175897171721| 19.00175897171721|
|2016-01-11 20:10:...|      null|  40.0|           20.89|            49.8|            20.2|46.0266666666667|20.1666666666667|47.6333333333333|19.0333333333333|            49.5|17.5933333333333|70.7266666666667|5.33333333333333|87.4633333333333|            17.6|42.6933333333333|18.6666666666667|           50.26|           16.89|            45.2|             6.0|735.233333333333|87.8333333333333|             6.0|            40.0|4.06666666666667| 38.87226106598973| 38.87226106598973|
+--------------------+----------+------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+------------------+------------------+
only showing top 20 rows

In [32]:
df.select("Appliances").describe().show()

+-------+----------+
|summary|Appliances|
+-------+----------+
|  count|         0|
|   mean|      null|
| stddev|      null|
|    min|      null|
|    max|      null|
+-------+----------+